*{
    box-sizing: content-box;
    padding: 0;
    margin: 0;
}
:root{
    background-color: antiquewhite;
}
main{
    padding: 30px;
    margin: 30px;
}
.we_service {
    background-image: url("../image/hero.jpg");
    background-repeat: no-repeat;
    height: 97vh;
    background-position: center;
    background-size: cover;
    width: 90%;
    margin: 50px;
}
.coffee{
    display:flex;
    justify-content: space-between;
    font-size: 25px;
    padding: 10px;
    margin: 10px;
}
.coffee span{
    color: rgb(241, 238, 238);
    font-size: 30px;

}
ul{
    display: flex;
    justify-content: flex-end;
    list-style: none;
}
ul li a{
    text-decoration: none;
    color: white;
    padding: 50px;
}
ul li a:hover{
    color: rgb(231, 200, 158);
}
.service{
    padding: 30px;
    margin: 30px;
}
.service h1{
    color: white;
    font-size: 40px;
}
.service p{
    color: white;
    font-size: 45px;
    font-weight: 20px;
    padding: 10px;
    margin: 5px;
}
.service button{
    background-color: bisque;
    padding: 20px;
    border-radius: 50px;
    font-size: 20px;
    cursor: pointer;
}
.cup{
    display: flex;
    justify-content:space-evenly;
    margin: 5px;
    padding: 5px;
}
.cup span img{
    width: 40px;
    
}
.cup span p{
    font-size: 20px;
    color: rgb(131, 102, 102);
}
.desert_coffee{
  display: grid;
  grid-template-columns: repeat(4,240px);
  font-size: 20px;
  gap:30px;
  padding:30px;
  background-color: white;
  background-position: center;
  background-size: cover;
  width: 90%;
 
}
.our_special_coffee{
    border: 0.5px rgb(250, 234, 234) solid;  
}
.our_special_coffee h4{
    font-size: 20px;
    text-align: center;
    padding: 15px;
}
.our_special_coffee p{
    font-size: 17px;
    text-align: center;
;
}
.our_special_coffee img{
    width: 220px;
    height: 250px;
}
.our_special_coffee span{
    background-color: rgb(255, 230, 198);
}
.our_special_coffee button{
    background-color: rgb(211, 156, 90);
    padding: 4px;
    border-radius: 50px;
    font-size: 20px;
    cursor: pointer;
}
.check_out{
    display: grid;
    grid-template-columns: repeat(3,450px);
    background-color: rgb(245, 218, 182);
  
}
.check_out img{
    width: 200px; 
}
.check_out p{
    margin: 5px;
    padding: 10px;
}
.best_coffee {
    font-size: 40px
}
.check_out button{
    background-color: rgb(211, 156, 90);
    padding: 4px;
    border-radius: 50px;
    font-size: 20px;
    cursor: pointer;
}

